<!doctype html>
<html lang="en">

<head>  
  
  <link  type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>	
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.6/smart-table.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
	
  <style>
	#marketsContainer tr.priceChangeUp td 
	{
	  background-color: #ceebd3 !important;
	  border-top: 1px double #27892f;
	  border-bottom: 1px double #27892f;
	  -webkit-transition-duration: 0.1s;
	  -moz-transition-duration: 0.1s;
	  transition-duration: 0.1s; 
	}
	
	#marketsContainer tr.priceChangeDown td 
	{
	  background-color: #f6d4d1 !important;
	  border-top: 1px double #c02a1d;
	  border-bottom: 1px double #c02a1d;
	  -webkit-transition-duration: 0.1s;
	  -moz-transition-duration: 0.1s;
	  transition-duration: 0.1s; 
	}
  
  </style>
</head>

<body ng-app="myApp">
	<h1>KhanhNguyen</h1>
	<div id="marketsContainer" ng-controller="MainCtrl">
		<table  st-table="btc_currencies" class="table table-striped">
			<thead>
				<tr>
					<th>Coin</th>
					<th st-sort="last">Price</th>
					<th st-sort="baseVolume">Volumne</th>
					<th st-sort="percentChange">Change</th>
					<th>Lowest Ask</th>
					<th>Hightest Bid</th>
				</tr>
				<tr>
					<th colspan="6">
						<input st-search="name"  class="form-control" type="search"/>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr st-select-row="row"  ng-repeat="row in currencies">
					<td>{{row.name}}</td>
					<td>{{row.last}}</td>
					<td>{{row.baseVolume}}</td>
					<td>{{row.percentChange}}</td>
					<td>{{row.lowestAsk}}</td>
					<td>{{row.highestBid}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="smart-table" ng-controller="filterCtrl">
		<table st-table="rowCollection" class="table table-striped">
			<thead>
			<tr>
				<th st-sort="firstName">first name</th>
				<th st-sort="lastName">last name</th>
				<th st-sort="birthDate">birth date</th>
				<th st-sort="balance">balance</th>
				<th>email</th>
			</tr>
			<tr>
				<th>
					<input st-search="firstName" placeholder="search for firstname" class="input-sm form-control" type="search"/>
				</th>
				<th colspan="3">
					<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
				</th>
				<th>
					<input st-search="{{selectedPredicate}}" placeholder="bound predicate" class="input-sm form-control" type="search"/>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in rowCollection">
				<td>{{row.firstName | uppercase}}</td>
				<td>{{row.lastName}}</td>
				<td>{{row.birthDate | date}}</td>
				<td>{{row.balance | currency}}</td>
				<td><a ng-href="mailto:{{row.email}}">email</a></td>
			</tr>
			</tbody>
		</table>
	</div>
  
</body>

</html>

<script>

var myApp = angular.module('myApp', ['smart-table']);

myApp.controller('filterCtrl', ['$scope', '$filter', function (scope, filter) {
    scope.rowCollection = [
        {firstName: 'Laurent', lastName: 'Renard', birthDate: new Date('1987-05-21'), balance: 102, email: 'whatever@gmail.com', strictSearchValue: "abc", strictSelectValue: "ab"},
        {firstName: 'Blandine', lastName: 'Faivre', birthDate: new Date('1987-04-25'), balance: -2323.22, email: 'oufblandou@gmail.com', strictSearchValue: "ab", strictSelectValue: "abc"},
        {firstName: 'Francoise', lastName: 'Frere', birthDate: new Date('1955-08-27'), balance: 42343, email: 'raymondef@gmail.com', strictSearchValue: "abc", strictSelectValue: "abc"}
    ];

    scope.displayCollection = [].concat(scope.rowCollection);

    scope.predicates = ['firstName', 'lastName', 'birthDate', 'balance', 'email'];
    scope.selectedPredicate = scope.predicates[0];
}]);




myApp.controller("MainCtrl", MainCtrl);
function MainCtrl($scope, socketio,$filter) {
	$scope.btc_currencies=[];
	$scope.currencies=[];
	$scope.usdt_currencies=[];
	
	$scope.startwithBTC="BTC_";
	$scope.startwithUSDT="USDT_";
	$scope.displayCollection = [];
	
	$scope.updateTicker=function(data,currencies){
	
		var found = $filter('filter')(currencies, {currencyPair: data.currencyPair}, true);
		if(found.length){			
			$scope.updatePrice(data,currencies);			
		}else{
			console.log("New");
			currencies.push(data);
		}
		
	}
	$scope.updatePrice=function(data,currencies){
		//update price
		angular.forEach(currencies, function(c, i) {
          if (c.currencyPair === data.currencyPair ) {
            currencies[i] = data;
			found=true;	
          }
        });
	}
	
	
    socketio.on('connect', function () {
	    console.log("Connected");	
    });
	
    socketio.on('message', function(data) {
		if(data.currencyPair.startsWith($scope.startwithBTC)){
			console.log("BTC");
			data.name=data.currencyPair.replace($scope.startwithBTC,"");			
			$scope.updateTicker(data,$scope.btc_currencies);
			$scope.displayCollection=[].concat($scope.btc_currencies);
		}else if(data.currencyPair.startsWith($scope.startwithUSDT)){
			console.log("USDT");
			data.name=data.currencyPair.replace($scope.startwithUSDT,"");
			$scope.updateTicker(data,$scope.usdt_currencies);
			$scope.displayCollection=[].concat($scope.usdt_currencies);
		}		
        
    });
	
    socketio.on('disconnect', function() {
            console.log("Disconnected");    
     });		
}
myApp.factory('socketio', function ($rootScope) {
    var socket = io.connect();
    return {
        on: function (eventName, callback) {
            socket.on(eventName, function () {
                var args = arguments;
                $rootScope.$apply(function () {
                    callback.apply(socket, args);
                });
            });
        },
        emit: function (eventName, data, callback) {
            socket.emit(eventName, data, function () {
                var args = arguments;
                $rootScope.$apply(function () {
                    if (callback) {
                        callback.apply(socket, args);
                    }
                });
            })
        }
    };
});

	        
</script>

 
   
